In [1]:
import tensorflow as tf
import pandas_datareader as pdr
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl

In [2]:
rawData = pdr.DataReader("EOS-USD", 
                       start='2000-1-1', 
                       end='2020-4-30', 
                       data_source='yahoo')

rawData.describe()

,High,Low,Open,Close,Volume,Adj Close
count,1036.000000,1036.000000,1036.000000,1036.000000,1.036000e+03,1036.000000
mean,5.217933,4.737877,4.991018,4.991321,1.423699e+09,4.991321
std,3.710887,3.253575,3.497867,3.493223,1.285985e+09,3.493223
min,0.518657,0.480196,0.492790,0.493225,4.556540e+06,0.493225
25%,2.737026,2.544040,2.636556,2.638418,5.084520e+08,2.638418
50%,4.154706,3.795284,4.029776,4.022571,1.069101e+09,4.022571
75%,6.462510,5.860698,6.170222,6.149392,2.064280e+09,6.149392
max,22.890400,18.877399,21.639099,21.542601,1.001470e+10,21.542601

In [3]:
rawData['O-C'] = rawData['Open'] - rawData['Close']

trend = []

for i in range(len(rawData)):
    if rawData['O-C'][i] >= 0:
        trend.append(1)
    else:
        trend.append(0)
        
rawData['Trend'] = trend
rawData.head()

,High,Low,Open,Close,Volume,Adj Close,O-C,Trend
Date,,,,,,,,
2017-06-30,1.07176,0.989566,1.031340,1.00669,13613000,1.00669,0.024650,1
2017-07-01,2.87751,0.822648,0.996521,2.71005,320452000,2.71005,-1.713529,0
2017-07-02,5.39597,2.632310,2.717390,4.08664,414950016,4.08664,-1.369250,0
2017-07-03,4.19124,2.933450,4.098010,3.37200,218559008,3.37200,0.726010,1
2017-07-04,3.52350,2.730130,3.356000,3.00323,124339000,3.00323,0.352770,1